html,body{ margin: 0; padding: 0; 
	background-color: #ebebeb;
	font-family: 'Roboto', sans-serif;

}

@media screen and (max-width: 768px) {
   .mobile{
	   margin-top: -250px;
	   background-color: black;
   }
   .menu-mobile{
	position: fixed;
	width: 100%;
	margin-top: -130px;
	visibility: visible;
	z-index: 3;
	background-color: white;
	height: 100%;
}


.acessibilidade{
	display: none;
		}




}
@media screen and (min-width: 768px) {
	.menu-mobile{
		position: fixed;
		width: 100%;
		visibility: hidden;
		z-index: 3;
		margin-top: -1800px;
		background-color: cornflowerblue;
		height: 100%;
	}


	
.menu-icon{
display: none;
	}
 }





.menu{
	text-align: center;
	background-color: white;
	border: solid 1.1px #dfdfdf;
	height: 90px;
}

.menu:hover{
	border-bottom: solid 4px #8cb8f6;
	cursor: pointer;
}

a{
	text-decoration: none;
	font-family: 'Roboto', sans-serif;

	color: #646464;
}



.cabecalho{
	background-color: white;
	widows: 100%;
}


.img-menu{
	width: 40px;
	margin-top: 10px;
}


.account{
	text-align: center;
	background-color: #e9e7e8;
	height: 49.87px;
	margin-top:0px;
}.logout-icon:hover{
cursor: pointer;
}

.lg{
	list-style: none;
	display: block;
}

.lg-img{
	width: 160px;
	margin: 7px;
}

h1{
	font-size: 14px;
}





.menu-icon{
width: 46px;
float: left;
padding-left: 7px;
position: relative;

}
