<!DOCTYPE html>
<html lang="pt-br">
<head>

	<title>1001 Frotas - Veículos </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="css/dsi.css"/>
	<link rel="stylesheet" type="text/css" href="css/menu.css"/>
	<link rel="stylesheet" type="text/css" href="css/tabelas.css"/>
	<link rel="stylesheet" type="text/css" href="css/loading.css"/>

	<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">   
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">

	<script type="text/javascript" src="scripts/sessionValidator.js"></script>
	<script type="text/javascript" src="scripts/loading.js"></script>
	<script type="text/javascript" src="scripts/menu.js"></script>

	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>
<body onload="inicializar(); validator();">

	<div id="load" class="loading">
	 <img class="gif" src="icons/caminhao.gif"><br>
	 <p class="msgLoad">Espere um pouco enquanto <strong>buscamos</strong> os seus dados.</p>
	</div>


	<div class="backModal" id="backModal" onclick="closeModal()"></div>

	<div class="cabecalho">
		<div class="row">

			<div class="col-5" >
				<br>
			</div> 

			<div class="col-2" style=" text-align: center;">
				<img src="img/logo.png" class="lg-img">
			</div> 

			<div class="col-3" > 
				<br>
			</div> 

			<div class="col-2  account"> 
				
				<div class="acc"> <p id="nomeUsuario"></p></div>
			</div> 

		</div>
	</div>


	<div class="row ">  <!--=================== MENU ===================== -->
		<div class="col-4 menu mobile" style="border-bottom: solid 4px #2f7dcc;">
			<div><img class="img-menu" src="icons/car.png"></div>
			<a href="#"> Veículos </a>
		</div>

		<div class="col-4 menu mobile">   
			<div><img class="img-menu" src="icons/people.png"></div>
			<a href="pageMotorista.html">  Motoristas</a>
		</div>


		<div class="col-4 menu mobile">       
			<div><img class="img-menu" src="icons/rodovia.png"></div>
			<a href="#">  Viagens</a>
		</div>
	</div>

	<div class="menu-mobile" id="menu-mobile"> <!-- Menu mobile-->
<div>
<img src="icons/close-menu.png" style="width: 65px; float: right;" onclick="closeMobileMenu()">
</div>
			<div class="col-4 menu " style="border-bottom: solid 4px #2f7dcc;">
					<div><img class="img-menu" src="icons/car.png"></div>
					<a href="#"> Veículos </a>
				</div>
		
				<div class="col-4 menu ">   
					<div><img class="img-menu" src="icons/people.png"></div>
					<a href="pageMotorista.html">  Motoristas</a>
				</div>
		
		
				<div class="col-4 menu ">       
					<div><img class="img-menu" src="icons/rodovia.png"></div>
					<a href="#">  Viagens</a>
				</div>

	</div>


	<h1 class="ind" >VEÍCULOS</h1>

	<div id="vueVeiculos"> <!--=================== TABELA E VUE JS ===================== -->



		<div class="modal" id="modal">
			<div class="closemodal">
				<img src="icons/close.png" class="closeIcon" onclick="closeModal()">
			</div>

			<div class="row">  
				<div class="col-12">
					<h2> {{modalTitle}} Veículo</h2>
				</div>	
			</div>		

			<div class="reg">
				<form class="regVeiculo">
					<label>Modelo:</label>
					<input type="text" placeholder="Ex: Gol, Voyage, Uno e etc." v-model="dadosVeiculo.nome">
					<br><label>Tipo:</label>

					<select v-model="dadosVeiculo.tipo" >
						<option value=2 >Carro</option>
						<option value=3>Caminhão</option>
						<option value=1>Moto</option>
						<option value=4>Van</option>
					</select>


					<br>
					<label>Placa:</label>
					<input type="text" placeholder="Placa do veículo" v-model="dadosVeiculo.placa">
					<br><label>Cor:</label>
					<select v-model="dadosVeiculo.cor">
						<option selected value="preto">Preto</option>
						<option value="cinza">Cinza</option>
						<option value="prata">Prata</option>
						<option value="branco">Branco</option>
					</select>
					
					<br>
					<div class="btn-register" @click="salvarVeiculo();" onclick="">
						<h4>REGISTRAR</h4>
					</div>

				</form>
			</div>
		</div>


		<div class="campo-tabela" id="listarVeiculos">

			<div class="row bar">
				<div class="col-3">
					<div class="btn-register width-80 row" onclick="openModal()">
						<h4 class="col-12" style="text-align: center;">REGISTRAR</h4> 
					</div>
				</div>	
				<div class="col-6">
					<input v-model="inputBusca" placeholder="Buscar por placa ou modelo" class="busca-bar" id="busca">
				</div>

				<div class="col-1">
						<select v-model="selectBusca" class="filtro">
								<option value=4 >Todos</option>
								<option selected value=1  >Disponível</option>
							<option value=2 >Indisponível</option>
								<option value=3 >Alugado</option>
						</select>
					</div>
				<div class="col-1">
						<img src="icons/search.png" @click="carregarNomeOuPlaca()" class="icon-search">
					</div>
				
			</div>

			<table style="overflow-x:auto;">
				<thead>
					<tr>
						<th>Id</th>
						<th>Modelo</th>
						<th>Placa do veículo</th>
						<th>Tipo</th>
						<th>Cor</th>
						<th>Disponibilidade</th>

						<th>Editar</th>
						<th>Excluir</th>

					</tr>
				</thead>

				<tbody class="semBorda">


					<tr v-if="dado.disponibilidade !== 6" v-for="dado in dados">
						<td>{{ dado.id }}  </td>
						<td>{{ dado.nome }}  </td>
						<td>{{ dado.placa }}  </td>

						<td v-if="dado.tipo === 1"> Moto </td>
						<td v-if="dado.tipo === 2"> Carro </td>
						<td v-if="dado.tipo === 3"> Caminhão </td>
						<td v-if="dado.tipo === 4"> Van </td>

						<td>{{ dado.cor }} </td>

						<td v-if="dado.disponibilidade === 1">Disponível</td>
						<td v-if="dado.disponibilidade === 2">Indisponível</td>
						<td v-if="dado.disponibilidade === 3">Alugado</td>

						<td> <img src="icons/editar.png" class="tbIcon" @click="editarVeiculo(dado.id)"></td>
						<td> <img src="icons/excluir.png" class="tbIcon" @click="excluirVeiculo(dado.id)" onclick="setTimeout(vueVeiculos.carregarVeiculos, 250);">  </td>
					</tr>

				</tbody>
			</table>
		</div>

	</div>
	<script type="text/javascript" src="scripts/VeiculosPage.js"></script>

</body>
</html>