<!DOCTYPE html>
<html lang="pt-br" style="background-color: white;">

<head>

	<title>1001 Frotas - Viagens </title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" type="text/css" href="css/dsi.css" />
	<link rel="stylesheet" type="text/css" href="css/menu.css" />
	<link rel="stylesheet" type="text/css" href="css/tabelas.css" />
	<link rel="stylesheet" type="text/css" href="css/loading.css" />

	<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">

	<script type="text/javascript" src="scripts/sessionValidator.js"></script>
	<script type="text/javascript" src="scripts/loading.js"></script>
	<script type="text/javascript" src="scripts/menu.js"></script>
	<script type="text/javascript" src="scripts/validacao.js"></script>

	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body onload="inicializar(); validator();">

	<div id="load" class="loading">
		<img class="gif" src="icons/caminhao.gif"><br>
		<p class="msgLoad">Espere um pouco enquanto <strong>buscamos</strong> os seus dados.</p>
	</div>


	<div class="backModal" id="backModal" onclick="closeModal()"></div>
	<div class="cabecalho">
		<div class=" row">
			<div class="col-5">
				<br>
			</div>
			<div class="col-2" style=" text-align: center;">
				<img src="img/logo.png" class="lg-img">
			</div>
			<div class="col-3">
				<br>
			</div>
			<div class="col-2 account">
				<div class="row">
					<div class="col-6">
						<div class="" style="width: auto;">
							<p id="nomeUsuario" style="margin-top: 16px; float: right;"> </p>
						</div>
					</div>
					<div class="row">
						<div class="col-6">
							<img src="icons/logout.png" onclick="vueLogin.deslogar()" class="logout-icon"
								style="width: 27px;  margin-top: 8px;">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="row" style="z-index: 4;">
			<!--=================== MENU ===================== -->
			<div class="col-4 menu mobile">
				<div><img class="img-menu" src="icons/car.png"></div>
				<a href="pageVeiculo.html"> Veículos </a>
			</div>
			<div class="col-4 menu mobile">
				<div><img class="img-menu" src="icons/people.png"></div>
				<a href="pageMotorista.html"> Motoristas</a>
			</div>
			<div class="col-4 menu mobile" style="border-bottom: solid 4px #2f7dcc;">
				<div><img class="img-menu" src="icons/rodovia.png"></div>
				<a href="#"> Viagens</a>
			</div>
		</div>

		<div class="menu-mobile" id="menu-mobile">
			<!-- Menu mobile-->
			<div>
				<img src="icons/close-menu.png" style="width: 65px; float: right;" onclick="closeMobileMenu()">
			</div>
			<div class="col-4 menu ">
				<div><img class="img-menu" src="icons/car.png"></div>
				<a href="#"> Veículos </a>
			</div>

			<div class="col-4 menu " style="border-bottom: solid 4px #2f7dcc;">
				<div><img class="img-menu" src="icons/people.png"></div>
				<a href="pageMotorista.html"> Motoristas</a>
			</div>
			<div class="col-4 menu ">
				<div><img class="img-menu" src="icons/rodovia.png"></div>
				<a href="#"> Viagens</a>
			</div>

		</div>


		<h1 class="ind">VIAGENS</h1>

		<div id="vueViagem">
			<!--=================== TABELA E VUE JS ===================== -->
			<div class="modal" id="modal">
				<div class="closemodal">
					<img src="icons/close.png" class="closeIcon" onclick="closeModal()">
				</div>

				<div class="row">
					<div class="col-12">
						<h2> {{modalTitle}} Viagem</h2>
					</div>
				</div>

				<div class="reg">
					<form class="regVeiculo">
						<label>Cep:</label>
						<input type="text" placeholder="Ex: 15990526, 15990524" v-model="dadosViagem.nome">

						<br><label>Motorista:</label>
						<select v-model="idMotoristaSelect">
							<option v-for="dadoMotoristasDisp in dadoMotoristasDisps"
								v-bind:value="dadoMotoristasDisp.id">
								{{ dadoMotoristasDisp.nome }}
							</option>
						</select>







						<br><label>CPF:</label>
						<input id="cpf" type="text" placeholder="Ex: 42285166887" v-model="dadosViagem.cpf">

						<br><label>CNH:</label>
						<input type="text" placeholder="Ex: 458756987" v-model="dadosViagem.cnh">

						<br><label>Venc cnh:</label>
						<input type="date" placeholder="" v-model="dadosViagem.venc_cnh">

						<br>
						<div class="btn-register" @click="salvarViagem();" onclick="">
							<h4>REGISTRAR</h4>
						</div>

					</form>
				</div>
			</div>


			<div class="campo-tabela" id="listarVeiculos">

				<div class="row bar">
					<div class="col-3">
						<div class="btn-register width-80 row" onclick="openModal()">
							<h4 class="col-12" style="text-align: center;">REGISTRAR</h4>
						</div>
					</div>
					<div class="col-6">
						<input v-model="inputBusca" placeholder="Buscar por nome ou CPF" class="busca-bar" id="busca">
					</div>

					<div class="col-1">
						<select v-model="selectBusca" class="filtro">
							<option value=4>Todos</option>
							<option value=1>Disponível</option>
							<option value=0>Indisponível</option>
						</select>
					</div>
					<div class="col-1">
						<img src="icons/search.png" @click="carregarNomeOuPlaca()" class="icon-search">
					</div>

				</div>

				<table style="overflow-x:auto;">
					<thead>
						<tr>

							<th>Cep</th>
							<th>Motorista</th>
							<th>Data Início</th>
							<th>Data Final</th>
							<th>Status</th>


							<th>Editar</th>
							<th>Excluir</th>

						</tr>
					</thead>

					<tbody class="semBorda">

						<tr v-if="dado.disponibilidade !== 6" v-for="dado in dados">

							
							<td>{{ dado.cep }} </td>
							
							<td >{{ dado.idMotorista }} </td>


							<td>{{ dado.diaInicio }}/{{dado.mesInicio}}/{{ dado.anoInicio}} </td>
							<td>{{ dado.diaFim }}/{{dado.mesFim}}/{{ dado.anoFim}} </td>

							<td v-if="dado.statusViagem === '2'">Finalizada</td>
							<td v-if="dado.statusViagem === '1'">Em aberto</td>
							<td v-if="dado.statusViagem === '0'">Iniciada</td>
							

							<td> <img src="icons/editar.png" class="tbIcon" @click="editarViagem(dado.id)"></td>
							<td v-if="dado.statusViagem === '1'"> <img src="icons/excluir.png" class="tbIcon"
									@click="excluirViagem(dado.id)"
									onclick="setTimeout(vueViagem.carregarViagens, 750);"> </td>

							<td v-if="dado.statusViagem === '0' || dado.statusViagem === '2'"> <img
									src="icons/excluir.png" style="opacity: 0.5; width: 20px; margin: 2px;" class="">
							</td>
						</tr>

					</tbody>
				</table>
			</div>

		</div>
		<script type="text/javascript" src="scripts/ViagemPage.js"></script>
		<script type="text/javascript" src="scripts/loginUser.js"></script>

</body>

</html>